<p>
    <strong>Message: </strong> <%= @squeak.message %>
    
</p>

<p>
    <strong>User: </strong> <%= @squeak.user.username %>
    
</p>

<%= link_to 'Edit', edit_squeak_path(@squeak), class: 'btn btn-secondary' %>
<%= link_to 'Squeak History', squeaks_path, class: 'btn btn-primary' %>